<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="AccessControlSystemEntities" connectionString="metadata=res://*/AccessControlSystemModel.csdl|res://*/AccessControlSystemModel.ssdl|res://*/AccessControlSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RSA0F5T\SQLEXPRESS;initial catalog=AccessControlSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>